<% issue = local_assigns[:issue] || @issue %>
<% rec = AssignedContact.where(issue_id: issue.id).first %>
<% if rec && rec.contact %>
<p>
  <span class="label"><%= l(:field_assigned_contact) %>:</span>
  <span class="value"><%= rec.contact.to_s %></span>
</p>
<% end %>
