<% issue = local_assigns[:issue] || @issue %>
<% f = local_assigns[:f] %>
<% project_id = issue&.project_id || @project&.id %>

<% contacts = [] %>
<% if project_id && defined?(Contact) %>
  <% contacts = Contact.joins("INNER JOIN contacts_projects ON contacts_projects.contact_id = contacts.id")
                       .where("contacts_projects.project_id = ?", project_id)
                       .order(:last_name, :first_name) %>
<% end %>

<% cf_id = Setting.plugin_redmine_contact_assigner['assigned_contact_custom_field_id'] %>
<div class="attributes">
  <p>
    <%= label_tag (cf_id ? "issue_custom_field_#{cf_id}" : nil), l(:field_assigned_contact) %>
    <% if cf_id.present? %>
      <% selected_value = issue.custom_field_value(cf_id) %>
      <%= select_tag "issue[custom_field_values][#{cf_id}]",
                     options_for_select([["", ""]] + contacts.map { |c| [c.name, c.id] }, selected_value),
                     class: 'assigned-contact', data: { testid: 'assigned-contact-select' } %>
    <% else %>
      <span class="info">Bitte im Plugin-Setup ein Issue-Custom-Field auswählen.</span>
    <% end %>
  </p>
  <% if contacts.empty? %>
    <p class="info"><%= l(:text_no_project_contacts) %></p>
  <% end %>
  <% if cf_id.present? && issue.errors["custom_field_values"].present? %>
    <span class="error"><%= issue.errors["custom_field_values"].join(', ') %></span>
  <% end %>
  </div>
