<% issue = local_assigns[:issue] || @issue %>
<% f = local_assigns[:f] %>
<% project_id = issue&.project_id || @project&.id %>

<% contacts = [] %>
<% if project_id && defined?(Contact) %>
  <% contacts = Contact.joins("INNER JOIN contacts_projects ON contacts_projects.contact_id = contacts.id")
                       .where("contacts_projects.project_id = ?", project_id)
                       .order(:last_name, :first_name) %>
<% end %>

<p>
  <%= label_tag 'assigned_contact_id', l(:field_assigned_contact) %>
  <% selected_value = AssignedContact.where(issue_id: issue.id).pluck(:contact_id).first %>
  <%= select_tag 'assigned_contact_id',
                 options_for_select([["", ""]] + contacts.map { |c| [c.name, c.id] }, selected_value),
                 class: 'assigned-contact', data: { testid: 'assigned-contact-select' } %>
</p>
<% if contacts.empty? %>
  <p class="info"><%= l(:text_no_project_contacts) %></p>
<% end %>
